<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LambentLight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LambentLight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LambentLight.Properties.Settings>
            <setting name="BuildsWindows" serializeAs="String">
                <value>https://raw.githubusercontent.com/LambentLight/Metadata/master/builds.json</value>
            </setting>
            <setting name="License" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadScripts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateConfig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoRestart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestartEvery" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestartAt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestartEveryTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="RestartAtTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="Resources" serializeAs="String">
                <value>https://raw.githubusercontent.com/LambentLight/Metadata/master/resources.json</value>
            </setting>
            <setting name="BuildsLinux" serializeAs="String">
                <value>https://raw.githubusercontent.com/LambentLight/Metadata/master/builds.linux.json</value>
            </setting>
        </LambentLight.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <LambentLight.Properties.Settings>
            <setting name="FolderBuilds" serializeAs="String">
                <value>builds</value>
            </setting>
            <setting name="FolderData" serializeAs="String">
                <value>data</value>
            </setting>
            <setting name="FolderTemp" serializeAs="String">
                <value>temp</value>
            </setting>
        </LambentLight.Properties.Settings>
    </applicationSettings>
</configuration>