# FXServer Configuration template by Lemon

# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# These resources will start by default
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start scoreboard
start playernames

# This allows players to use scripthook based plugins such as lambda menu
# Set this to 1 to allow scripthook
sv_scriptHookAllowed 0

# A comma-separated list of tags for your server
# For example:
# sets tags "roleplay, drifting, cars, racing"
sets tags "default"

# Set your server's hostname
sv_hostname "My new FXServer via ServerManager!"

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
sv_authMaxVariance 1
sv_authMinTrust 5

# Permissions are added here
add_ace group.admin command allows
add_ace group.admin command.quit deny
# To add admins, uncomment the following line and replace STEAM_ID with your Steam ID
#add_principal identifier.steam:STEAM_ID group.admin

# Hide player endpoints in external log output
sv_endpointprivacy true

# Uncomment this line to use OneSync (experimental support for more than 32 players)
#onesync_enabled 1

# Server player slot limit (must be between 1 and 32, for more than 32 enable OneSync)
sv_maxclients 32
