<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ServerManager.Properties.Settings>
            <setting name="License" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoRestart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadScripts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastBuild" serializeAs="String">
                <value />
            </setting>
            <setting name="LastData" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resources" serializeAs="String">
                <value>https://raw.githubusercontent.com/justalemon/ServerManager/master/resources.json</value>
            </setting>
            <setting name="ConfigLine" serializeAs="String">
                <value>True</value>
            </setting>
        </ServerManager.Properties.Settings>
    </userSettings>
</configuration>